


.title-container {
    border: 2px none black;
    height: 50px;
    background-color: #5E4C5A;
    border-radius: 80px;
    width: 120px;
}

h1 {
    margin: 10px;
    padding: 10px;
    color: #E1F0C4;
    text-align: center;
}

body {
    background-color: #FFE2D1;
}

form {
    margin: 80px;
    padding: 50px;
    border: 2px solid #5E4C5A;
    height: 310px;
    width: 30%;
    border-radius: 50px;

}

input {
    background-color: #E1F0C4;
    margin: 10px;
}

label {
    color: #5E4C5A;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 100px;
}

.button {
    border-radius: 50px;
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    left: 100px;
}

.button:hover {
    background-color: #55917F;
}

.input {
    border-radius: 50px;
    width: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:hover {
    background-color: #55917F;
}

footer {
   text-align: center;
   margin-top: 300px;
}